*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  /*  overflow: hidden;*/
}
body{
    position: relative;
    background-color: #000000;
    max-width: 100vw;
    max-height: 100vh;
}

#canvas{
   position: absolute;
   width: 100vw;
   height: 100vh;
}
#game-board{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#b-left{
    position: absolute;
    background:transparent;
    width: 20vw;
    height: 10vh;
    bottom: 0;
    cursor: pointer;
}
#b-right{
    position: absolute;
    background:transparent;
    width: 20vw;
    height: 10vh;
    bottom: 0;
    right: 0%;
    cursor: pointer;
}

#b-tiro{
    position: absolute;
    background:transparent;
    width: 20vw;
    height: 10vh;
    bottom: 0;
    right: 40%;
    cursor: pointer;
}


#b-pause{
    position: absolute;
    background:transparent;
    width: 5vw;
    height: 5vh;
    top: 0;
    left: 0;
    cursor: pointer;
}



